#troph{
    height: 400px;
    width: 700px;
}
body{
    text-align: center;
    background-color: #FEF5AC;
    gap: 8px;
   

}
#logo{
    height: 200px;
    width: 200px;
}



.button{
    text-decoration: none;
    
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s;
    color: #97D2EC;

}


.button:hover{
    color: rgb(209, 24, 24);

}